<button class="btn btn-success" ui-sref="dashboard">Dashboard</button>
<button class="btn btn-success" ui-sref="post">Posts</button>
<br /><br /><br />
<h3>Novel: {{vm.novel.name}}</h3>
<div class="row">
  <div class="col-md-12">
    <form class="form form-horizontal" name="form" novalidate>
      <div class="form-group">
        <select
            class="form-control"
            ng-options="item.name as item.name for item in vm.categories"
            name="categoria"
            ng-model="vm.post.category"
            required>
            <option value="">Selecione uma categoria</option>
        </select><br>
      </div>
  
      <div class="form-group">


      <div class="form-group">
        <label>Título</label><br/>
        <input class="form-control" ng-model="vm.post.title"
        type="text" name="nome" placeholder="Insira o Título" required>
      </div>

      <div class="form-group">
        <label>Conteúdo </label><br/>
        <textarea class="form-control"
                  name="conteudo" rows="6"
                  ng-model="vm.post.body"
                  placeholder="Insira o capítulo" required>
        </textarea>
      </div>

      <div class="form-group">
        <label>Reading Time</label><br/>
        <input class="form-control" ng-model="vm.post.readingTime"
        type="text" name="readingTime" placeholder="Level" required>
      </div>

      <div class="form-group">
        <label>Level</label><br/>
        <input class="form-control" ng-model="vm.post.level"
        type="text" name="level" placeholder="Level" required>
      </div>

      <div class="form-group">
        <label>Imagem</label><br/>
        <input class="form-control" ng-model="vm.post.image"
        type="text" name="image" placeholder="Imagem" required>
      </div>


      <button ng-if="vm.novo" class="btn btn-primary" type="submit" ng-click="vm.createChapter(vm.chapter)">Enviar</button><br />
      <button ng-if="!vm.novo" class="btn btn-primary" type="submit" ng-click="vm.editChapter(vm.chapter)">Atualizar</button><br />
    </form>
  </div>
</div>






