<button class="btn btn-success" ui-sref="dashboard">Dashboard</button>
<button class="btn btn-success" ui-sref="post">Posts</button>
<br /><br /><br />
<h3>Categorias</h3>
<div class="row">
  <div class="col-md-12">
    <form class="form form-horizontal" name="form" novalidate>
      <div class="form-group">
        <select
            class="form-control"
            ng-options="item.name as item.name for item in vm.categories"
            name="categoria"
            ng-model="vm.post.category"
            required>
            <option value="">Selecione uma categoria</option>
        </select><br>
      </div>
  
      <div class="form-group">
      <div ng-if="!vm.novo">
          <h1>Post: {{vm.post.title}}</h1>
      </div>

      <div class="form-group">
        <label>Título</label><br/>
        <input class="form-control" ng-model="vm.post.title"
        type="text" name="nome" placeholder="Insira o Título" required>
      </div>

      <div class="form-group">
        <label>Conteúdo </label><br/>
        <textarea class="form-control"
                  name="conteudo" rows="6"
                  ng-model="vm.post.body"
                  placeholder="Conteúdo" required>
        </textarea>
      </div>

      <div class="form-group">
        <label>Reading Time</label><br/>
        <input class="form-control" ng-model="vm.post.readingTime"
        type="text" name="readingTime" placeholder="Reading Time in Minutes" required>
      </div>

      <div class="form-group">
        <label>Level</label><br/>
        <input class="form-control" ng-model="vm.post.level"
        type="text" name="level" placeholder="Post's Level" required>
      </div>

      <div class="form-group">
        <label>Imagem de Capa: 600x200</label>
        <button type="file" ngf-select data-ng-disabled="vm.post.image && !vm.novo"
        name="image"
        ngf-min-height="200" ngf-max-height="200" ngf-min-width="600" ngf-max-width="600"
        ng-model="vm.post.image"
        class="btn btn-success"
        accept="image/*" ngf-max-size="1MB">Escolher Arquivo</button><br />
        <span ng-if="vm.post.image">{{vm.post.image.name}}</span>
      </div>
      
      <div ng-if="vm.post.image && !vm.novo">
        <span ng-if="!vm.post.image.name">
          Nome da Imagem:  {{vm.post.image}}
        </span> 
        <button class="btn btn-primary" ng-click="vm.removeImage()"> Remove Imagem atual </button>
      </div>

      <button ng-if="vm.novo" class="btn btn-primary" type="submit" ng-click="vm.createPost(vm.post)">Enviar</button><br />
      <button ng-if="!vm.novo" class="btn btn-primary" type="submit" ng-click="vm.editPost(vm.post)">Atualizar</button><br />
    </form>
  </div>
</div>






