<button class="btn btn-success" ui-sref="home">Home</button>
<button class="btn btn-success" ui-sref="novel">Lista de Novels</button>


<h3 ng-if="!vm.category.name">Selecione uma categoria</h3>
<form class="form form-horizontal" name="form" novalidate>
      <div class="form-group">
        <select
            class="form-control"
            ng-options="item.name as item.name for item in vm.categories"
            name="categoria"
            ng-model="vm.queryCategory"
            required>
            <option value="">Selecione um Tipo</option>
        </select><br>
      </div>
      <button class="btn btn-primary" type="submit" ng-click="vm.getPosts(vm.queryCategory)">Enviar</button><br />
</form>
<h3 ng-if="vm.category.name">Posts da Categoria: {{vm.category.name}}</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Capítulo</th>
            <th>Título</th>
            <th>Descrição</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="chapter in vm.chapters track by $index">
            <td>{{chapter.number}}</td>
            <td>{{chapter.title}}</td>
            <td>
              <button ng-click="vm.goChapter(chapter)">Editar</button>
              <button ng-click="vm.deleteChapter(chapter._id)">Deletar</button>
            </td>
        </tr>
    </tbody>
</table>

<button class="btn btn-success" ui-sref="post-new"> Cadastrar Post</button>
